<h1>Login</h1>

<%= form_for @user_session, :as => :user_session, :url => { :action => "create" } do |f| %>
  <%= render "shared/error_messages", :target => @user_session %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email, :class=>"form-control", :placeholder=>"Email" %>
  </p>
  <p>
    <%= f.label :password %>
    <%= f.password_field :password, :class=>"form-control", :placeholder=>"Password" %>
  </p>
  <%= f.submit "Login", :class=>"btn btn-default" %>
<% end %>

